version: "3.8"

services:
  postgres:
    image: postgres:17
    container_name: netflix_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: netflix
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: netflix_app
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: 123456
      DB_NAME: netflix
    ports:
      - "3000:3000"

    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules  # FIX: không ghi đè node_modules

    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data:
    name: netflix_postgres_data
